<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xcy.mapper.StudentMapper">
    <resultMap id="baseRM" type="com.xcy.dto.Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="dId" column="dId"/>
        <result property="clazz" column="class"/>

    </resultMap>
    <sql id="base">
        id,name,sex,age,did,class
    </sql>


    <delete id="deleteByDId">
        delete from student
        where did = #{dId}
    </delete>

</mapper>